.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: aliceblue;
}

.input-node {
  border: 1px solid #9fa0a0;
  border-radius: 4px;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  background-color: #577590;
}

.output-node {
  border: 1px solid #f94144;
  border-radius: 4px;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  background-color: #f3722c;
}

.input-port {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background-color: #4d908e;
  cursor: pointer;
  position: relative;
  z-index: -2;
  cursor: pointer;
}

.output-port {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background-color: #f8961e;
  cursor: pointer;
  position: relative;
  z-index: -2;
  cursor: pointer;
}

.input-node-header-container {
  width: 100%;
  height: 25px;
  text-align: left;
  font-weight: bold;
  position: absolute;
  top: 0;
  display: flex;
}

.output-node-header-container {
  width: 100%;
  height: 25px;
  text-align: left;
  font-weight: bold;
  position: absolute;
  top: 0;
  display: flex;
}

.input-node-header-text {
  color: #f9c74f;
  font-size: 13px;
  padding-left: 3px;
  margin-top: 4px;
}

.output-node-header-text {
  color: #f9c74f;
  font-size: 13px;
  padding-left: 3px;
  margin-top: 4px;
}

.input-node-content {
  color: #f9c74f;
  font-size: 11px;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  margin-top: 32px;
}

.output-node-content {
  color: #f9c74f;
  font-size: 11px;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  margin-top: 32px;
}

.port-container {
  position: absolute;
  top: 40px;
}

.left-port {
  left: 0;
  margin-left: -7px;
}

.right-port {
  right: 0;
  margin-right: -7px;
}

.sml-icon {
  margin-top: 3px;
  margin-left: 4px;
}
